---
import { SITE_TITLE, SITE_DESCRIPTION } from '@constants/metadata'

interface Props {
  title?: string
  description?: string
  image?: string
  url?: string
  author?: string
  tags?: string[]
  date?: string
}

const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image,
  url,
  author = '',
  tags = [],
  date = '',
} = Astro.props as Props

const siteUrl = import.meta.env.PUBLIC_URL || ''
const fullTitle = title
  ? `${title} | Academia Juvenil de Programación Competitiva`
  : 'Academia Juvenil de Programación Competitiva'
---

<title>{fullTitle}</title>
<meta name="description" content={description} />
<meta name="author" content={author} />
{date && <meta name="date" content={date} />}
{tags.length > 0 && <meta name="keywords" content={tags.join(', ')} />}

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={siteUrl} />
<meta
  property="og:title"
  content={title || 'Academia Juvenil de Programación'}
/>
<meta property="og:site_name" content="Academia Juvenil de Programación" />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={image} />}
{
  image && (
    <meta
      property="og:image:alt"
      content="Descripción alternativa de la imagen"
    />
  )
}

<!-- Twitter -->
<meta name="twitter:card" content={image ? 'summary_large_image' : 'summary'} />
<meta property="twitter:url" content={siteUrl} />
<meta
  property="twitter:title"
  content={title || 'Academia Juvenil de Programación'}
/>
<meta name="twitter:description" content={description} />
{image && <meta name="twitter:image" content={image} />}
{
  image && (
    <meta
      name="twitter:image:alt"
      content="Descripción alternativa de la imagen"
    />
  )
}

<!-- Canonical URL -->
{url && <link rel="canonical" href={url} />}
